/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Resetting CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins';
    color: #fff;
}
/* Parent Elements */
body{
    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
    overflow: hidden;
    background: url('../images/Hacker Room.jpg');
    background-size:cover;
}
body,.container{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    height: auto;
    background: transparent;
    position: relative;
    overflow:auto;    
}
/* header */
.container header{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background: #008cf9;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 15px;
    color: #fafafa;
}
header h2{
    text-shadow: 0 0 10px rgba(255,255,255,0.2);
    font-family: 'Redressed';
    flex: 1;
    font-size: 28px;
}

/* Navigation bar */

header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #008cf9;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.15),
            -4px -4px 5px rgba(255,255,255,0.15),
            inset 2px 2px 5px rgba(0,0,0,0.05),
            inset -2px -2px 5px rgba(255,255,255,0.05);  
}
nav span{
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
}
nav span i{
   color: #c8c8c8; 
   transition:all 0.3s ease;

}
nav span.active i,nav span:hover i{
    color: #fff;
    transform: rotate(360deg);
}

/* the main content Body */
.body{
    position: relative;
    height: calc(100vh - 60px);
    width:100%;
    padding: 20px auto;
    padding-bottom: 60px;
}
.body h1{
    position: relative;
    font-size: 28px;
}
.body > p{
    font-size: 16px ;
    font-family: Poppins;
}

/* Content boxes */

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 25px auto;
    margin-bottom: 80px;
    padding: 20px 10px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.15),
                0 0 20px rgba(255,255,255,0.15),
                0 0 40px rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
}

.box p{
    margin: 15px 10%;
    font-size: 18px;
}
.box ul{
    margin: 30px auto;
    width: 70%;
}
.box ul li{
    font-size: 20px;
    list-style: circle;
}
.box .start{
    display: block;
    margin: 20px auto;
    height: 60px;
    width: 60%;
    background: #fff;
    color: #111;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: bold;
}
.box .start.small{
    height: 40px;
    width: 40%;
    font-size: 20px;
    margin: 5px 0;
}

.box span{
    display: grid;
    place-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size:30px;
    margin: 20px 10px;
    float:left;
}
/*Contact Options*/

.box .whatsapp{
    background: #01ed50;
}
.box .instagram{
    background: #f03cb9;
}
.box .email{
    background: #ff3435;
}
.box .sms{
    background: #f3586a;
    font-size: 28px;
}

/* Designing footer */
footer{
    display: block;
    width: 95%;
    border-radius: 8px;
    margin: 40px auto;
    padding: 30px 15px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 10px rgba(255,255,255,0.01),
                0 0 20px rgba(255,255,255,0.01),
                0 0 40px rgba(255,255,255,0.01);
}
