*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
} 
body{
    height: 100vh;
    width: 1005;
    background: #111;
    overflow: hidden;
}
.container{
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top right,rgba(255,255,255,0.05),transparent 30% ,transparent 60%,rgba(255,255,255,0.15));
    overflow: hidden;
    backdrop-filter: blur(250px);
}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 60px; width: 100%;
    background: transparent;
}
header span{
    display: flex;
    color: #555;
    font-size: 16px;
    letter-spacing: 1px;
}
header span i{
    font-size: 24px;
    color: #444;
}
header span i.playing{
    color: #555;
    margin-left: 5px;
}
.body{
    height: calc(100vh - 60px); width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 80px 0;
}
.body .image{
    position: relative;
    height: 70vw; width: 70vw;
    border-radius: 20px;
    box-shadow: 5px -5px 15px rgba(0,0,0,0.2);
}
.body .image::before{
    position: absolute;
    content: '';
    display: inline-block;
    height: 20px;
    width: 50%;
    background: rgba(255,255,255,0.4);
    filter: blur(25px);
    top: calc(100% - 10px);
    left: 25%;
}
.body .image img{
    height: 100%; width: 100%;
    border-radius: 20px;
}
.body .controls{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.track-controls,.time-controls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.track-controls .main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; width: 70px;
    border-radius: 50%;
    background:linear-gradient(to bottom right,#23C0BB,#EAEAEA);
    color: #111;
    font-size: 24px;
}
.track-controls .side{
    color: #DADADA;
    font-size: 20px;
}
.track-controls .corner{
    font-size: 22px;
    color: #444;
}
.track-controls .like.active{
    color: #df346d;
    color: #23C0BB;
}
.time-controls input[type = range]{
    -webkit-appearance:none;
    position: relative;
    display: block;
    width: 80%;
    background:#444;
    border-radius: 3px;
    margin: 0 auto 80px;
}
.time-controls span{
    position: relative;
    color: #444;
    top: -10px;
}
.time-controls span#currentTime{
    left: 10%;
}
.time-controls span#duration{
    left: -10%;
}
.time-controls input[type=range]::-webkit-slider-runnable-track{
    height: 5px;
    border-radius: 3px;
}

.time-controls input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    position: relative;
    top: -8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background:#222;
    border:4px solid #23C0BB;
}
.track-name{
    width: 80%;
    margin: 40px auto;
}
.track-name h2{
    color: #DADADA;
    margin: auto;
}
.track-name h4{
    color: #444;
}